@charset "UTF-8";

body {
  font-family: 'Lucida Grande','Noto Sans JP',Meiryo, メイリオ, sans-serif;
  color: #727272;
  height:  100%;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
  color: #727272;
  cursor: default;
}

a:visited { 
  color: #727272; 
  opacity: 0.5;
}

a:hover{
  opacity: 0.5;
}


.bg-slider {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;

}

.title_logo {
 position: fixed;
 inset:0;
 margin: auto;
 width: 30%;
}

#header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
}

.main_logo {
  width: 25%;
  margin-top: 3vw;
  margin-left: 3vw;
  margin-bottom: 3vw;
}

.wrapper {
  display: flex;
  margin-top: 15vw;
  margin-left: 5vw;
  margin-right: 5vw;
  overflow: hidden;
}

.main_navi {
  position: fixed;
  width: 10%;
  color: #727272;
}

.main_navi li {
  font-size: 1.2vw;
  padding: 0.3vw 0;
  letter-spacing: 0.1vw;
  list-style: none;
  cursor: default;
}

.main_content {
  width: 90%;
  margin-left: 10vw;
  margin-right: 10vw;
}

#profile {
  display: none;
}

.name {
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}

.camera {
  font-size: 1vw;
  font-weight: bold;
  margin-bottom: 0.5vw;
  margin-top: 1vw;
}

#profile p {
  font-size: 1.2vw;
  padding: 0.1vw;
}

.instagram {
  margin-top: 4vw;
  margin-right: 1vw;
  width: 2vw;
  height: auto;
}

.tumblr {
  margin-top: 4vw;
  width: 2vw;
  height: auto;
}

.main_img {
   justify-self: center;
   align-self: center;
} 

#gallery {
  display: none;
  margin-bottom: 10vw;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 10px;
  row-gap: 20px;
  margin-bottom: 10vw;
}

#prose {
  display: none; 
  position: fixed;
  overflow: scroll;
  height: 100vh;
}

.prose_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;;
  margin-left: 5vw;
}

.photo {
  width: 50%;
  margin-bottom: 10vw;
}

.prose_photo {
  width: 400px;
  height:267px;
}

.text {
  width: 40%;
  font-size: 1.2vw;
  position: relative;
  margin-bottom: 10vw;
}

.text P{
  position: absolute;
  bottom: 0;
}


#contact {
  display: none;
}

label {
  font-size: 1.2vw;
  margin-bottom: 0.5vw;
  display: block;
}

input[type="text"],
textarea {
  background: rgba(255,255,255,0.3);
  border: 1px  #727272 solid;
  border-radius: 3px;
  font-size: 1.2vw;
  width: 25vw;
  padding: 0.5vw;
  margin-bottom: 1vw;
}

::placeholder {
 color:#a9a9a9;
 font-size: 0.8vw;
}

input[type="submit"] {
  border: 1px #727272 solid;
  font-size: 1.2vw;
  cursor: pointer;
  background: rgba(255,255,255,0.3);
  color : #727272;
  line-height: 1rem;
  padding: 1vw;
  border-radius: 3px;
}

.error_text {
  color :#ff1a1a;
  font-size: 1.2vw;
  margin-bottom: 0.5vw;
}

@media screen and (max-width: 1025px){
  
.title-logo {
  .title_logo {
    position: fixed;
    inset:0;
    margin: auto;
    width: 50%;
}

.prose_wrapper {
  display: block;
}

.photo {
  width: 80vw;
  margin-bottom: 3vw;
}

.text {
  width: 80vw;
  height: 20vw;
  position: relative;
  margin-bottom: 5vw;
}

.text P{
  position: absolute;
  top: 0;
}

}

@media screen and (max-width: 600px){

  .title_logo {
    position: fixed;
    inset:0;
    margin: auto;
    width: 50%;
   }

   .main_logo {
    width: 50%;
    margin-top: 10vw;
    margin-left: 5vw;
    margin-bottom: 3vw;
  }

  .wrapper {
    display:  block;
  }

  .main_navi {
    position: fixed;
    z-index: 999;
    top: 120%;
    left:  0;
    width: 100%;
    height: 100vh;
    background-color: rgba( 255, 255, 255, 0.8 );
     transition:  all 1s;
  }

  .main_navi.panelactive{
    top: 20vw;
}

.main_navi ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:20%;
  left:50%;
  transform: translate(-50%,-50%);
}

 .openbtn1{
  position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
  top:10vw;
  right: 10px;
  cursor: pointer;
    width: 50px;
    height:50px;
}

.main_navi li a {
  color: #727272;
  font-size:  3vw;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*×に変化*/  
.openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #666;
    width: 45%;
  }

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#profile,#prose,#contact {
  margin-top: 20vw;
}

.grid {
  margin-top: 20vw;
}

.profile p {
  font-size:  2vw;
}

.prose_wrapper {
  margin-left:  0;
}
.prose_photo {
  width: 66.667vw;
  height:44.5vw;
  text-align: center;
  margin-left: 3vw;
}

.text {
  width: 66vw;
  height: 48vw;
  position: relative;
  margin-bottom: 5vw;
  margin-left: 3vw;
  font-size: 2vw;
}

label {
  font-size:  2vw;
}

}
